

body {
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

   li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    text-align: center;
    padding-left: 0; /* Сдвигаем список влево */
   }

a {
    display: inline-block;
    font-size: 26px;
    color: white;
    padding: 5px;
    border: 1px solid black;
    background-color: gray;
    border-radius: 10px;
    transition: all .3s;
    margin-bottom: 10px;
}

a:hover {
    color: #000;
}

